{
  "extends": [
    "plugin:prettier/recommended",
    "airbnb",
    "plugin:meteor/recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true,
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "strict": 0,
    "import/no-extraneous-dependencies": 0, # to fix meteor/foo imports, it need to be fixed
    "import/extensions": 0, # remove it when issue 17 of eslint-import-resolver-meteor solved
    "arrow-parens": [2, "as-needed"],
    "generator-star-spacing": 0,
    "babel/new-cap": [1, {
      "capIsNewExceptions": [
        "Optional",
        "OneOf",
        "Maybe",
        "MailChimpAPI",
        "Juice",
        "Run",
        "AppComposer",
        "Query"
      ]
    }],
    "array-bracket-spacing": 0,
    "babel/object-curly-spacing": 0,
    "object-shorthand": 0,
    "babel/no-await-in-loop": 1,
    "comma-dangle": 0,
    "key-spacing": 0,
    "no-extra-boolean-cast": 0,
    "no-undef": 1,
    "no-unused-vars": [1, {
      "vars": "all",
      "args": "none",
      "varsIgnorePattern": "React|PropTypes|Component"
    }],
    "no-console": 1,
    "react/prop-types": 0,
    "meteor/audit-argument-checks": 0,
    "no-case-declarations": 0,
    "no-underscore-dangle": [2, {"allow":["_id"]}]
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "meteor": true,
    "node": true
  },
  "plugins": [
    "babel",
    "meteor",
    "react"
  ],
  "settings": {
    "import/resolver": {
      "meteor": {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
  },
  "root": true,
  "globals": {
    "param": true,
    "returns": true
  }
}
